.bracket {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 40px;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match {
  position: relative;
}

.connector {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 20px; /* Adjust this value according to your needs */
  height: 5px; /* Adjust this value according to your needs */
  background-color: black; /* Adjust this value according to your needs */
}

.connectorLeft {
  position: absolute;
  top: 50%;
  left: -5%;
  width: 20px; /* Adjust this value according to your needs */
  height: 5px; /* Adjust this value according to your needs */
  background-color: black; /* Adjust this value according to your needs */
}

.match:nth-child(odd):not(:last-child) .connectorVertical {
  position: absolute;
  top: 50%;
  left: 105%;
  width: 5px; /* Adjust this value according to your needs */
  background-color: black; /* Adjust this value according to your needs */
}
