.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 1.5em;
    margin: 0;
}

.badge {
    width: 50px;
    /* Adjust as needed */
    height: auto;
}

.info p {
    margin: 4px 0;
}

.button {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}