/* Sidebar.module.css */
.sidebar {
  background-color: rgba(0, 95, 115, 0.9); /* Semi-transparent */
  color: white;
  height: 100vh; /* Full height */
  width: 100%; /* Full width for smaller screens, adjust based on your breakpoint */
  max-width: 256px; /* Maximum width of the sidebar */
  min-width: 256px;
  padding-top: 1rem; /* Spacing from the top */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  overflow-y: auto; /* Enable scroll if content is taller than the screen */
  font-family: "Roboto", sans-serif; /* Smooth transition for toggling visibility */
}

.sidebar_header {
  padding: 1rem 1.5rem;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(57, 106, 149, 0.5); /* Adjust color to match your screenshot */
}

.sidebar_search {
  margin-bottom: 1rem;
  padding: 0 10px;
  height: 40px;
}

.search_button {
  width: 40px;
}

.nav_link {
  color: rgba(255, 255, 255, 0.8);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  font-size: 16px;
  text-align: left;
}

.nav_link:hover {
  color: #f0ad4e; /* Adjust color to match your screenshot */
  text-decoration: none;
  transform: scale(1.05);
}

.sidebar_footer {
  width: 100%;
  padding: 1rem 1.5rem;
  border-top: 2px solid rgba(115, 122, 129, 0.5); /* Adjust color to match your screenshot */
}

.icon {
  margin-right: 8px; /* Space between the icon and the text */
  vertical-align: -2px; /* Align the icon with the text */
}

@media (min-width: 768px) {
  .sidebar {
    width: 256px; /* Sidebar width for medium screens and up */
  }
}
